* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D071F9;
    padding: 0 10px;
}

.container {
    padding: 30px;
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #D071F9;
    text-transform: uppercase;
    text-align: center;
}

.container .form {
    width: 100%;
}

.container .form .input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.container .form .input-field label {
    width: 200px;
    margin-right: 10px;
    font-size: 20px;
}

.container .form .input-field .input {
    width: 100%;
    outline: none;
    border: 1px solid #D071F9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.container .form .input-field #selectbox {
    position: relative;
    width: 100%;
    height: 37px;
}

.container .form .input-field #selectbox select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    border: 1px solid #D071F9;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

.container .form .input-field #selectbox:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #D071F9 transparent transparent transparent;
    pointer-events: none;
}

.container .form .input-field input:focus,
.container .form .input-field select:focus {
    border: 1px solid purple;
}

.container .form .input-field-terms p {
    font-size: 14px;
    color: #757575;
}

.container .form .input-field .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.container .form .input-field .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.container .form .input-field .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #D071F9;
    display: block;
    position: relative;
}

.container .form .input-field .check .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent white white;
    transform: rotate(-45deg);
}

.container .form .input-field .check input[type="checkbox"]:checked~.checkmark {
    background: #D071F9;
}

.container .form .input-field .check input[type="checkbox"]:checked~.checkmark:before {
    display: block;
}

.container .form .input-field .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #D071F9;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border-color: #D071F9;
}

.container .form .input-field:last-child {
    margin-bottom: 0;
}

.container .form .input-field .btn:hover {
    background: purple;
}

/* Media Query for mobile phone */

@media (max-width:420px) {
    .container .form .input-field {
        flex-direction: column;
        align-items: flex-start;
    }

    .container .form .input-field label {
        margin-bottom: 5px;
    }

    .container .form .input-field.terms {
        flex-direction: row;
    }

}